@font-face {
  font-family: aleoLight;
  src: url('fonts/Aleo-Light.ttf')
}

body {
  font-family: aleoLight;
  background-image: url("images/background_image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

div#root {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 705px) 1fr;
}

div.App {
  grid-column: 2;
  /* background: rgba(255, 255, 255, 0.9);  */
  background:  rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}





