@font-face {
  font-family: aleoLight;
  src: url('fonts/Aleo-Light.ttf')
}

body {
  font-family: aleoLight;
  
}

div#root {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 645px) 1fr;
}

div.App {
  grid-column: 2;
}



